/* Fonts
font-family: 'Great Vibes', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Mulish', sans-serif;
*/

*{
  box-sizing: border-box;
}

body {
  background: url(assets/wedding-landing-background.png) repeat center;
  color: #444349;
  line-height: 1.25rem;
  font-family: 'Mulish', sans-serif;
}

/* ===HEADER STYLES=== */

.cover {
  background: url(assets/wedding-landing-cover.jpg) no-repeat 68% center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
  display: table;
  font-family: 'Libre Baskerville', serif;
}

@media (min-width: 768px) {
  background: url(assets/wedding-landing-cover.jpg) no-repeat center;
}


.byline {
  background-color: hsla(100,0%,0%,.6);
  width: 100%;
  padding: 1rem;
}

@media (min-width: 768px) {
  
  .byline {
    width: 50%;
    height: 40vh;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 5px;
}
  
}

.tagline {
  font-size: 1.3rem;
  letter-spacing: .16rem;
  margin-bottom: .6rem;
  color: hsla(0,0%,100%,.9);
}

@media (min-width: 768px) {
  
  .tagline {
    text-transform: uppercase;
    font-size: 1.2rem; 
}
  
}
  
  @media (min-width: 850px) {
  
  .tagline {
    font-size: 1.3rem;
}
  
}
  
.tagline::after {
  display: block;
  content: "";
  height: 1px;
  width: 13rem;
  background-color: white;
  margin: 1rem auto;
}


@media (min-width: 768px) {
  
  .tagline::after {
    width: 12rem;
}
  
}

.headline {
  font-size: 3.5rem;
  color: #d2ba87;
  margin: 2.5rem 0;
  font-family: 'Great Vibes', cursive;
}

@media (min-width: 768px) {
  
  .headline {
  font-size: 5.5rem;
  color: #d2ba87;
  margin: 4.2rem 0;
  font-family: 'Great Vibes', cursive;
}
  
}

@media (min-width: 1200px) {
  
  .headline {
    font-size: 7rem;
    margin: 4.2rem 0;
    padding-top: 0.8rem;
}
  
}

.date {
  font-size: 1.1rem;
  letter-spacing: .15rem;
  color: hsla(0,0%,100%,.9);
}

.date::before,
.date::after {
  display: inline-block;
  content: "";
  height: 1px;
  width: 1.5rem;
  background-color: white;
  margin: 0.5rem;
  vertical-align: middle;
}

.header-wrapper {
  display: table-cell;
  vertical-align: middle;
}

/* === MAIN STYLES === */

/* === Location === */

.locations {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: table;
  padding: 1.125rem;
}

h2 {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-size: 3.1rem;
  margin: 1rem auto;
  padding: 1.5rem;
}

.cell h3 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: .1rem;
  font-family: 'Libre Baskerville', serif;
  padding: 0.5rem;
}

.cell img {
  height: 28vh;
  padding: 1.2rem;
}

.cell div {
  font-family: 'Mulish', sans-serif;
  font-size: 1.125rem;
  line-height: 1.8rem;
  font-weight: 400;
}

.cell::after {
  display: block;
  content: "";
  height: 3px;
  width: 7rem;
  background-color: #444349;
  margin: 1.5rem auto;
}

/* === Program === */

.program {
  background-color: hsla(100,0%,0%,.6);
  font-size: 1.125rem;
  line-height: 1.8rem;
  padding: 0.2rem 1rem 1.7rem;
  width: 100%;
}

.program h2 {
  color: #d2ba87;
  font-weight: 500;
}
.program-wrapper p {
  color: #d2ba87;
  text-align: center;
  padding-bottom: 1rem;
  font-style: italic;
  letter-spacing: .02rem;
}

li {
  color: #d2ba87;
}

/* === Gifts === */

.gifts {
  width: 100%;
  text-align: center;
  display: table;
  padding: 1.125rem;
}

.gifts p {
  font-size: 1.125rem;
  font-family: 'Libre Baskerville', serif;
  margin: 1rem;
  line-height: 1.7rem;
}

.gifts img {
  height: 22vh;
  margin: 1rem;
}

.gifts h2 {
  padding-bottom: 2rem;
}

/* === Quastions & Answers === */

.quastions {
  background-color: hsla(100,0%,0%,.6);
  font-size: 1.125rem;
  line-height: 1.8rem;
  width: 100%;
  color: #d2ba87;
  padding: 1rem 1rem 0.2rem;
}

.quastions h2 {
  font-size: 3rem;
  margin: 2rem 0 3rem;
  padding: 0;
}

.quastion-group h3 {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Libre Baskerville', serif;
  margin: 0 0 1.5rem;
}

.quastion {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  margin: 0 0 0.7rem;
}

.answer {
  margin: 0 0 1.5rem;
}

.quastion-group::after {
  display: block;
  content: "";
  height: 3px;
  width: 12.5rem;
  background-color: #d2ba87;
  margin: 2rem auto;
}

a {
  color: #bd806e;
  text-decoration: none;
}

a:hover {
  color: #eda087;
  transition: color 0.18s ease-in-out;
}

/* === Contact === */

.contact {
  width: 100%;
  text-align: center;
  padding: 1rem 2.5rem;
}

.contact p {
  font-size: 1.125rem;
  font-family: 'Libre Baskerville', serif;
  line-height: 1.7rem;
  padding-bottom: 1.5rem;
}

/* === FOOTER STYLES === */

.footer-wrapper {
  background-color: #606060;
  width: 100%;
  color: white;
  font-size: .88rem;
  padding: .5rem 1rem;
  text-align: center;
}
